.table-responsive{
    max-height: 500px;
}
.text-center.btn{
    background: #255b74;
    width: 100%;
    color: #fff;
    margin: 0;
}
.price {
    color: #255b74;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}